

*{
    margin: 0;
    padding: 0;
}
.btn{
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
margin-top: 32px;

background: rgb(13, 19, 33);
}
#hero{
    height:652px;
    background-image: url(image), url("../images/Hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .hero-content{
    width: 998px;
    
}
#hero .hero-content{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;

}
#hero .hero-content .description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 24px;


}
#h-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
#h-middle .h-middle-content{
    Width: 852px;
   margin:0 auto;
}
#h-middle .h-middle-content .h-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-top: 80px;
}
#h-middle .h-middle-content .h-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;

}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 96px 48px 48px 48px ;

}
.banner-content{
    max-width: 477px;
}
.banner-title{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}
.banner-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-bottom: 32px;

}
.banner-profile-pic{
    width:259.56px;
}
.btn-banner{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}
.banner-b{
  display: flex ;
   justify-content: space-between ;
    margin: 128px 158px 48px 48px ;
   
}
.banner-title-b{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
}
.banner-description-b{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-bottom: 32px;

}
.banner-profile-pic-b{
    
    
width: 223.2px;


}
.banner-content-b{
    max-width: 477px;
}
.btn-banner-b{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}